*{
    padding: 0;
    margin: 0;
}
body {
    
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 2.2em;
    font-family: loto, Helvetica, sans-serif;
    line-height: 2.2em;
}
h1{
    font-size: 50px;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}
h2{
    font-size: 20px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}
header{
    background-color: rgb(224, 102, 45);
}
section, footer {
    margin: 40px;
    
}
nav li {
    list-style: none;
    float: left;
}
nav ul{
    float: right;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
nav{
    font-size: 12px;
    letter-spacing: 4px;
    height: 50px;
    background-color: rgb(224, 102, 45);
    padding-right: 40px;
}
table{
    width: 100%;
}
table td {
    padding:5px ;
} 
 table tr:nth-child(even) {
    background-color: rgb(211, 210, 208);
 }
 table tr:nth-child(odd) {
    background-color: rgb(117, 116, 114);
 }
 table thead th{
    background-color: rgb(224, 102, 45);
    color: white;
 }
